
<div id = "form">
	<form id="call_form" action="/call/" method="post">
		To: <input type="text" name="to" /><br />
		From: <input type="text" name="from" /><br />
		URL: <input type="text" name="url" /><br />
		<input type="submit" value="Submit">
	</form>
</div>