
<div id = "form">
	<form id="transcription" action="/transcribe" method="post">
		Message: <input type="text" name="message" /><br />
		URL: <input type="text" name="url" /><br />
		<input type="submit" value="Submit">
	</form>
	<p>please enter the text to transcribe</p>
</div>